.blog-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 13px;

    .single-blog {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 400px;
        text-align: left !important;

        .title {
            font-size: 18px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
        }

        .content {
            padding: 10px 0;
        }
    }
}

.blog-detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    margin: 20px;
    min-height: 100px;

    .title {
        font-size: 18px;
        font-weight: 600;

    }

    .content {
        padding-top: 10px;
    }
}

.btn-add-new {
    margin: 10px 0;
    cursor: pointer;
}

.add-new-container {

    border: 1px solid grey;
    text-align: left;
    padding: 15px;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 3px;

    .text-add-new {
        margin: 10px 0;
        text-align: center;
    }

    .input-data {
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    button {
        margin-left: 10px;
    }
}

.youtuble-search-container {
    //border: 1px solid rgb(193, 179, 179);

    input {
        outline: none;
        min-width: 360px;
        border: none;
        padding: 5px 8px;
    }

    button {
        outline: none;
        padding: 5px 10px;
        background: #e2e2e2;
        border: none;
    }

    .yt-result {
        display: flex;
        width: 100%;
        // flex-direction: space-between;
        margin-top: 20px;
        padding: 0 100px;

        .left {
            width: 40%;

            //float: left;
            padding: 0 10px;

            .iframe {
                height: 270px;
                width: 100%;
            }
        }

        .right {
            width: 60%;
            text-align: left;
            padding: 5px;
            font-size: 14px;
            display: flex;
            flex-direction: column;

            gap: 20px;

            .title {
                font-size: 18px;
                font-weight: 600;
            }
        }



    }
}